<div class="component-wrapper">
    <section class="table-container">
        <div class="search-container">
            <mat-form-field appearance="outline">
                <mat-label>Search Pokemon</mat-label>
                <input [(ngModel)]="searchValue" matInput (keyup.enter)="searchPokemonByName()" placeholder="Type a name & hit enter" #input>
                <button matSuffix mat-icon-button type="submit" *ngIf="searchFieldIsActive()" (click)="clearSearch()">
                    <mat-icon color="primary">cancel</mat-icon>
                </button>
                </mat-form-field>
            <h3>List Of Pokemon</h3>
        </div>
        <table mat-table [dataSource]="pokemons">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> id </th>
                <td mat-cell *matCellDef="let pokemon"> {{ pokemon.id }} </td>
            </ng-container>
    
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef> image </th>
                <td mat-cell *matCellDef="let pokemon">
                    <img class="pokemon-avatar" alt="svg" src="{{pokemon.imageUrl}}"/>
                </td>
            </ng-container>
          
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> name </th>
                <td mat-cell *matCellDef="let pokemon"> {{ pokemon.name }} </td>
            </ng-container>
          
            <ng-container matColumnDef="url">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let pokemon">
                    <a [routerLink]="['../pokemon-details', pokemon.name]" target="_blank">view</a>
                </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching pokemon. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">
                    no pokemon matches "{{input.value}}" <button (click)="clearSearch()" mat-button>reset search</button>
                </td>
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20]" [length]="100" showFirstLastButtons 
            [disabled]="searchFieldIsActive()">
        </mat-paginator>
    </section>
</div>

