<section class="card-container">
    <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{pokemon.name}}</mat-card-title>
          <mat-card-subtitle>height: {{pokemon.height}}, weight: {{pokemon.weight}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{pokemon.sprites.other.dream_world.front_default}}" alt="Photo of Pokemon">
        <mat-card-content>
            <!-- to do: add content -->
            <p>Type: Electric</p>
            <p>Pokemon Stats: </p>
          </mat-card-content>
        <mat-card-actions>
          <button mat-button>Back to List</button>
        </mat-card-actions>
    </mat-card>
</section>
